<div class="container-fluid">
  <div id='scales-form'>
    <%= render 'scales/form' %>
  </div><br />
  <div class="row">
    <div class="col-sm-2">
      <%= ("KEY: #{@key}") if @sharp_key != nil %>
    </div>
    <div class="col-sm-3">
      <%= ("SCALE: #{@scale}") if @sharp_key != nil %>
    </div>
    <div class="col-sm-4">
      <%= ("NOTES: #{@scale_build.join(" ")}") if @sharp_key != nil %>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-2">
      <%= link_to icon('home fa-2x'), root_path %>
    </div>
  </div>
</div>
