<div class="container-fluid">
  <div id='scales-form' class="row">
    <%= render 'scales/form' %>
  </div><br />
  <div class="row">
  <%= ("KEY: #{@key}") if @scale_flat || @scale_sharp %><br />
  <%= ("SCALE: #{@scale.capitalize}") if @scale_flat || @scale_sharp %><br />
  <%= ("NOTES: #{@scale_flat.join(" ")}") if @scale_flat %>
  <%= (@scale_sharp.join (" ")) if @scale_sharp %>
  </div>
  <br />
  <div class="row">
    <%= link_to 'Home', root_path %></div>
  </div>
</div>
